<mat-card class="file-upload-card">
  <mat-card-content>
    <form
      [formGroup]="uploadForm"
      (ngSubmit)="uploadForm.valid && handleUpload()"
    >
      <div class="file-upload">
        <div class="form-element">
          <input
            type="file"
            class="file-input"
            (change)="handleFileInput($event)"
            #fileUpload
          />
          <button
            mat-mini-fab
            color="primary"
            class="upload-btn"
            type="button"
            (click)="fileUpload.click()"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>

        <div class="form-element">
          <mat-form-field>
            <input matInput [disabled]="true" [value]="fileName" />
          </mat-form-field>
        </div>

        <div class="form-element">
          <mat-form-field class="input-field">
            <input matInput placeholder="Title" formControlName="title" />
          </mat-form-field>
        </div>

        <div class="form-element">
          <mat-form-field class="input-field">
            <textarea
              matInput
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="form-element">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!uploadForm.valid"
          >
            Upload
          </button>
        </div>

        <div class="form-element">
          <p class="error-message" *ngIf="uploadError">{{ uploadError }}</p>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
